{% extends "Marketplace/layout.html" %}

{% block title %} Log In {% endblock %}

{% block body %}
    <div class="container-fluid" style="height: 100%;" >
        <div class="row" style="height: 100%;">
          <div class="col-lg-5" style="text-align :center ; padding: 0px ;background-color:#f1f1f1;">
            <div style="text-align :center ;margin :180px 80px"}}>
                    {% if message %}
                        <div class="alert alert-danger" role="alert">
                            {{ message.capitalize }}
                        </div>
                    {% endif %}
                    <h1>Login</h1>
                    <form  style="text-align :center " action="{% url 'login' %}" Method="post" style="width:70% ">
                        {% csrf_token %}
                        <div class="form-group">
                            <input autofocus class="form-control" type="text" required="required" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" required="required" name="password" placeholder="Password">
                        </div>
                        <br>
                        <div class="d-grid gap-2">
                            <input class="btn btn-primary" type="submit" value="Login">
                        </div>
                    </form>
                    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
                </div>
             </div>
            <div class="col-lg-7" style="padding: 0px ">
                <img src="/Marketplace/Marketplace/images/signInUp.jpg" class="card-img-top" style="width:100%; height: 100%;" alt="product pic">          </div>
            </div>
        </div>
    </div>
{% endblock %}
